{
    "loglevel": "INFO",
    "admin_name": "yousai",
    "bot_name": "Converts2Useless",
    "oauth_info": {
        "client_id": "xxx",
        "client_secret": "xxx",
        "redirect_uri": "http://127.0.0.1:65010/authorize_callback"
    },
    "subreddit_list": "whitelist.txt",
    "blocked_users": "blacklist.txt",
    "settings": {}
}
